@import 'variables';

$allColors: (
    primary: $primary,
    secondary: $secondary,
    green-100: $green-100,
    background100: $background100,
    background200: $background200,
    pink: $pink,
    purple: $purple,
    orange: $orange,
    red-100: $red-100,
    yellow: $yellow,
    red-200: $red-200,
    green-200: $green-200,
);

@each $key, $val in $allColors {
    @if($key != "background100" and $key != "background200") {
        .text-#{$key} {
            color: $val;
        }
        .bg-#{$key} {
            background-color: $val;
        }
        .hover-text-#{$key} {
            &:hover {
                background-color: $val;
            }
        }
        .hover-bg-#{$key} {
            &:hover {
                background-color: $val;
            }
        }
    } @else {
        .page-#{$key} {
            background-color: $val;
        }
    }
};

$buttons: (
    secondary: $secondary,
    green-100: $green-100,
    green-200: $green-200,
    red-200: $red-200,
);

@mixin buttons() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@each $key, $val in $buttons {
    @if($key != "filter") {
        .button-outline-#{$key} {
            @include buttons();
            border: 1px solid $val;
            color: $val;
        }
    } @else {
        .button-#{$key} {
            @include buttons();
            background-color: $val;
            color: white;
        }
    }
}