@import 'variables';

$allColors: (
    primary: $primary,
    secondary: $secondary,
    green-100: $green-100,
    background-100: $background-100,
    background-200: $background-200,
    pink-100: $pink-100,
    purple-100: $purple-100,
    orange-100: $orange-100,
    red-100: $red-100,
    yellow-100: $yellow-100,
    red-200: $red-200,
    green-200: $green-200,
);

$buttons: (
    secondary: $secondary,
    green-100: $green-100,
    red-200: $red-200,
);

@each $key, $val in $allColors {
    @if($key != "background-100" and $key != "background-200") {
        .text-#{$key} {
            color: $val;
        }
        .bg-#{$key} {
            background-color: $val;
        }
        .hover-text-#{$key} {
            &:hover {
                background-color: $val;
            }
        }
        .hover-bg-#{$key} {
            &:hover {
                background-color: $val;
            }
        }
    } @else {
        .page-#{$key} {
            background-color: $val;
        }
    }
};

// @each $key, $val in $buttons {
//     @if($key != "filter") {
//         .button-outline-#{$key} {
//             @include buttons();
//             border: 1px solid $val;
//             color: $val;
//         }
//     } @else {
//         .button-#{$key} {
//             @include buttons();
//             background-color: $val;
//             color: white;
//         }
//     }
// }