@mixin buttons($background, $color) {
    background: $background;
    border-radius: 8px;
    color: $color;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

@mixin centerContents() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin spaceContents($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}


$statusStates: (
    active: $green-200,
    inactive: $green-200,
    pending: $green-200,
    blacklisted: $green-200,
);

@each $key, $val in $statusStates {
    .#{$key}-text {
        color: $val;
    }
    .#{$key}-bg {
        background: $val;
    }
}