@mixin buttons() {
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

@mixin centerContents() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin spaceBetweenContents() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexStart() {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


$statusStates: (
    active: $green-200,
    inactive: $green-200,
    pending: $green-200,
    blacklisted: $green-200,
);

@each $key, $val in $statusStates {
    .#{$key}-text {
        color: $val;
    }
    .#{$key}-bg {
        background: $val;
    }
}