@media screen and (max-width: 1300px) {
    .page-header {
        .app-logo {
            width: 250px;

            img {
                height: 25px;
            }
        }

        .content {
            width: calc(100% - 250px);
        }
    }

    .side-navbar {
        width: 250px;
        font-size: 14px;
    }

    .dashboard .page-body {

        .main-content {
            width: calc(100% - 250px);
        }
    }

    .users-summary {
        .card {
            padding: 20px;
            
            .title {
                font-size: 12px;
            }

            .value {
                align-self: baseline;
                font-size: 20px;
            }
        }
    }

    .users-data {
        .table-container .table {

            .headers .header {
                font-size: 10px;
                line-height: 12px;

                img {
                    scale: 0.8;
                }
            }
        }

        .controller {
            font-size: 14px;

            .current-display {
                font-size: 12px;
                line-height: 14px;
            }

            .pagination {

                div {
                    padding: 3px;

                    img {
                        scale: 0.8;
                    }
                }
            }
        }
    }

    .user-snippet {
        font-size: 12px;

        .category .menu {
            left: 0;

            .item {
                width: 140px;
                padding: 12px 0;
                font-size: 12px;
                white-space: nowrap;

                img {
                    margin: 0 12px;
                    margin-right: 10px;
                }
            }
        }
    }

    .user-details {

        .go-back {
            margin-top: 30px;
        }

        .page-heading {

            h1 {
                margin-top: 25px;
                margin-bottom: 15px;
                font-size: 22px;
            }

            button {
                width: 140px;
                margin-left: 0;
                margin-right: 20px;
                margin-bottom: 20px;
                font-size: 12px;
            }
        }

    }

    .user-detail-summary {
        .profile {

            .avatar {
                height: 80px;
                width: 80px;
            }

            span {
                .name, .account-balance {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    
        .user-nav-links {
            font-size: 14px;
        }
    }

    .user-information {
        font-size: 14px;
    }

    .filter {
        width: 220px;
        padding: 20px 15px;
        font-size: 12px;
        line-height: 14px;

        input {
            height: 30px;
        }

        .buttons {
            margin-top: 20px;

            button {
                height: 30px;
                font-size: 12px;
            }
        }
    }

    .drop-down {
        font-size: 12px;
        line-height: 14px;

        .main-display {
            height: 30px;
        }

        .select-items {
            top: 40px;
    
            .dropdown-item {
                width: 100%;
                padding: 10px 15px;
                @include flexStart();
                color: $secondary;
            }
    
            .dropdown-item:hover {
                background: rgba(33, 63, 125, 0.1);
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .login-page {
        .lendsqr-logo {
            top: 40px;
            left: 30px;
        }

        .image-2d img {
            width: 100%;
        }

        .center-form {
            width: min(85%, 450px);
            margin: 0 auto;        
        
            form {
                width: min(100%, 450px);
                padding: 0;
            } 
        }
    }

    .page-header {
        height: 60px;
        padding: 0 30px;
        justify-content: space-between;

        .app-logo {
            width: fit-content;
            padding: 0;
        }

        .content {
            width: fit-content;
            justify-content: flex-start;

            .content-container {
                width: 100%;
            }

            .search-bar {
                display: none;
            }
        }

        .search-bar {
            height: 35px;
            width: 300px;

            span {
                width: 50px;
            }
        }

        .sm-search-bar {
            display: flex;
        }

        .user {
            font-size: 14px;

            .notification-bell {
                height: 20px;
            }

            .avatar {
                height: 40px;
                width: 40px;
            }

            .profile div {
                font-size: 12px;
            }
        }
    }

    .side-navbar {
        padding-bottom: 0;
    }

    .dashboard .page-body {
        height: calc(100vh - 60px);

        h1 {
            font-size: 22px;
        }
    }

    .users-data {
        .table-container {
            overflow-x: scroll;

            .table {
                min-width: 1100px;
                padding: 25px;

                .headers .header .filter-container {
                    left: -4%;
                }
            }
        }
    }

    .user-snippet {
        font-size: 12px;
    }

    .user-detail-summary {
        height: fit-content;
        padding: 20px;

        .profile {
            display: block;

            .avatar {
                height: 60px;
                width: 60px;
            }

            .section-2 {
                flex-direction: row-reverse;
                justify-content: space-between;
                border-top: 1px solid rgba(0, 0, 0, 0.06);
                margin-top: 15px;
                padding-top: 15px;

                span {
                    margin: 0;
                }
                
                .tier {
                    height: fit-content;
                    padding: 0;
                    margin: 0;
                    border: none;
                }
            }
        }
    
        .user-nav-links {
            display: none;
        }
    }

    .user-information .section-contents {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 820px) {
    .users-summary {
        grid-template-columns: 1fr 1fr;
        gap: 25px;    

        .card {
            padding: 20px;
            
            .title {
                font-size: 12px;
            }

            .value {
                font-size: 20px;
            }
        }
    }

    .controller .pagination span {
        &:nth-child(4), &:nth-child(6) {
            display: none;
        }
    }

    .user-details .page-heading {
        display: block;
    }

    .user-information .section-contents {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 760px) {
    .login-page {
        padding: 5%;

        .image-2d {
            display: none;
        }

        img {
            &:first-child {
                display: none;
            }
        }

        .form-container {
            position: relative;
            height: fit-content;
            width: 100%;
            margin: 0 auto;
            margin-top: 20px;
            box-shadow: none;
            flex-direction: column;

            .lendsqr-logo {
                position: static;
                inset: 0;
                height: 25px;
                align-self: flex-start;
            }

            img {
                display: block;
            }

            .center-form {
                width: min(100%, 450px);
            }
            
            form {
                width: 100%;
                padding: 0;
                margin-top: 60px;

                h1 {
                    font-size: 35px;
                    line-height: 50px;
                }

                h3 {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    .page-header {
        padding: 0 25px;

        .search-bar {
            width: 230px;

            span {
                width: 40px;
            }
        }

        .user .notification-bell {
            margin-left: 10px;
        }
    }

    .side-navbar {
        width: 220px;

        .top-section, .bottom-section {
            div {
                padding-left: 25px;
            }
        }

        .nav-items-category, .nav-item {
            padding-left: 25px;
        }
    }

    .dashboard .page-body .main-content {
        width: calc(100% - 220px);
    }

    .controller .pagination { 
        span {
            display: none;
        }

        .active {
            display: block;
        }
    }

    .user-information {
        padding: 20px;
        padding-top: 0;
        
        .section-contents {
            grid-template-columns: 1fr 1fr;

            .item-name {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .login-page .form-container {
        margin-top: 20px;

        form {
            margin-top: 80px;
        }
    }
    
    .page-header { 
        display: none;
    }

    .dashboard .page-body {
        position: absolute;
        inset: 0;
        height: 100%;
        padding-bottom: 50px;
        display: block;

        h1 {
            font-size: 20px;
        }
    }

    .side-navbar {
        position: absolute;
        top: 60px;
        width: 100vw;
        padding-bottom: 60px;

        .top-section .dropdown {
            height: 20px;
        }

        .user-mobile {
            height: 50px;
            width: 100%;
            padding: 0 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.03);
            @include spaceBetweenContents();

            .side-1, .side-2 {
                display: flex;
                align-items: center;

                .avatar {
                    height: 32px;
                    width: 32px;
                    margin-right: 10px;
                    border-radius: 50%;
                    overflow: hidden;
                    object-fit: cover;

                    img {
                        width: 100%;
                    }
                }

                span {
                    text-decoration: underline;
                }

                .notification-bell {
                    margin-left: 10px;
                    scale: 0.9;
                }
            }
        }

        .menu-buttons {
            display: block;
        }

        .top-section, .bottom-section {
            div {
                padding-left: 20px;
            }
        }

        .nav-items-category, .nav-item {
            padding-left: 20px;
        }

        
    }

    .user-page-header {
        height: 60px;
        padding: 0 20px;
        box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        @include spaceBetweenContents();
    }

    .dashboard .page-body {
        .main-content {
            width: 100%;

            .container {
                width: 100%;
                padding: 0 15px;
            }

            h1 {
                margin: 30px 0;
            }

            .sm-search-bar {
                display: flex;
            }
        }
    }

    .search-bar {
        display: flex;
        width: 100%;
        margin-top: 20px;
    }

    .users-summary {
        gap: 20px;
    }

    .users-data {
        padding-bottom: 30px;

        .table-container .table {
            padding: 20px;
        }
    }

    .user-details {
        padding-bottom: 30px;
    }

    .user-information {
        word-break: break-all;
    }
}

.open-sidebar {
    animation: openSidebar 0.5s ease 0s 1 normal forwards;
}
.close-sidebar {
    animation: closeSidebar 0.5s ease 0s 1 normal forwards;
}

@keyframes openSidebar {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
@keyframes closeSidebar {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}