@media screen and (max-width: 1100px) {
    .login-page {
        .lendsqr-logo {
            top: 40px;
            left: 30px;
        }

        .image-2d img {
            width: 100%;
        }

        .center-form {
            width: min(85%, 450px);
            margin: 0 auto;        
        
            form {
                width: min(100%, 450px);
                padding: 0;
            } 
        }
    }

    .page-header {
        height: 60px;
        padding: 0 30px;
        justify-content: space-between;

        .app-logo {
            width: fit-content;
            padding: 0;

            img {
                height: 25px;
            }
        }

        .content {
            width: fit-content;
            justify-content: flex-start;

            .content-container {
                width: 100%;
            }

            .search-bar {
                display: none;
            }
        }

        .search-bar {
            height: 35px;
            width: 300px;

            span {
                width: 50px;
            }
        }

        .smaller-screens {
            display: flex;
        }

        .user {
            font-size: 14px;

            .notification-bell {
                height: 20px;
            }

            .avatar {
                height: 40px;
                width: 40px;
            }

            .profile div {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .login-page {
        padding: 5%;

        .image-2d {
            display: none;
        }

        img {
            &:first-child {
                display: none;
            }
        }

        .form-container {
            position: relative;
            height: fit-content;
            width: 100%;
            margin: 0 auto;
            margin-top: 20px;
            box-shadow: none;
            flex-direction: column;

            .lendsqr-logo {
                position: static;
                inset: 0;
                height: 25px;
                align-self: flex-start;
            }

            img {
                display: block;
            }

            .center-form {
                width: min(100%, 450px);
            }
            
            form {
                width: 100%;
                padding: 0;
                margin-top: 60px;

                h1 {
                    font-size: 35px;
                    line-height: 50px;
                }

                h3 {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    .page-header {
        padding: 0 25px;

        .search-bar {
            width: 230px;

            span {
                width: 40px;
            }
        }

        .user .notification-bell {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .login-page .form-container {
        margin-top: 20px;

        form {
            margin-top: 80px;
        }
    }
    
    .page-header { 
        .search-bar, .content {
            display: none;
        }

        .menu-button {
            display: block;
            height: 35px;
        }
    }
}