

$utilities: (
    height: (
        prefixes: ( 
            height: "h",
        ),
        values: (
            0: 0,
            5: $basePercentageValue * 5,
            10: $basePercentageValue * 10,
            15: $basePercentageValue * 15,
            20: $basePercentageValue * 20,
            30: $basePercentageValue * 30,
            40: $basePercentageValue * 40,
            50: $basePercentageValue * 50,
            60: $basePercentageValue * 60,
            70: $basePercentageValue * 70,
            80: $basePercentageValue * 80,
            90: $basePercentageValue * 90,
            full: $basePercentageValue * 100,
            screen: 100vh,
            fit: "fit-content",
        )
    ),

    width: (
        prefixes: ( 
            width: "w",
        ),
        values: (
            0: 0,
            5: $basePercentageValue * 5,
            10: $basePercentageValue * 10,
            15: $basePercentageValue * 15,
            20: $basePercentageValue * 20,
            30: $basePercentageValue * 30,
            40: $basePercentageValue * 40,
            50: $basePercentageValue * 50,
            60: $basePercentageValue * 60,
            70: $basePercentageValue * 70,
            80: $basePercentageValue * 80,
            90: $basePercentageValue * 90,
            full: $basePercentageValue * 100,
            screen: 100vw,
            fit: "fit-content",
        )
    ),

    paddings: (
        prefixes: ( 
            padding: "p",
            padding-left: "pl",
            padding-right: "pr",
            padding-top: "pt",
            padding-bottom: "pb",
        ),
        values: (
            0: 0,
            5: $basePixelValue * 5,
            10: $basePixelValue * 10,
            15: $basePixelValue * 15,
            20: $basePixelValue * 20,
            30: $basePixelValue * 30,
            40: $basePixelValue * 40,
            50: $basePixelValue * 50,
            60: $basePixelValue * 60,
            70: $basePixelValue * 70,
            80: $basePixelValue * 80,
            90: $basePixelValue * 90,
            100: $basePixelValue * 100,
        )
    ),

    margins: (
        prefixes: ( 
            margin: "m",
            margin-left: "ml",
            margin-right: "mr",
            margin-top: "mt",
            margin-bottom: "mb",
        ),
        values: (
            0: 0,
            5: $basePixelValue * 5,
            10: $basePixelValue * 10,
            15: $basePixelValue * 15,
            20: $basePixelValue * 20,
            30: $basePixelValue * 30,
            40: $basePixelValue * 40,
            50: $basePixelValue * 50,
            60: $basePixelValue * 60,
            70: $basePixelValue * 70,
            80: $basePixelValue * 80,
            90: $basePixelValue * 90,
            100: $basePixelValue * 100,
        )
    ),

    placing: (
        prefixes: ( 
            left: "left",
            right: "right",
            top: "top",
            bottom: "bottom",
            inset: "inset",
        ),
        values: (
            0: 0,
            5: $basePixelValue * 5,
            10: $basePixelValue * 10,
            15: $basePixelValue * 15,
            20: $basePixelValue * 20,
            30: $basePixelValue * 30,
            40: $basePixelValue * 40,
            50: $basePixelValue * 50,
            60: $basePixelValue * 60,
            70: $basePixelValue * 70,
            80: $basePixelValue * 80,
            90: $basePixelValue * 90,
            100: $basePixelValue * 100,
        )
    ),

    position: (
        prefixes: ( 
            position: "ps"
        ),
        values: (
            absolute: "absolute",
            relative: "relative",
            sticky: "sticky",
            fixed: "fixed",
        )
    ),
    
    opacity: (
        prefixes: ( 
            opacity: "opac"
        ),
        values: (
            0: 0,
            06: 0.06,
            10: 0.1,
            16: 0.16,
            20: 0.2,
            30: 0.3,
            40: 0.4,
            50: 0.5,
            60: 0.6,
            70: 0.7,
            80: 0.8,
            90: 0.9,
            100: 1,
        )
    ),
);

@each $property, $map in $utilities {
    $prefixes: map-get($map, prefixes);
    $values: map-get($map, values);

    @each $key, $shorts in $prefixes {

        @each $num, $val in $values {
            @if($shorts != "") {
                .#{$shorts}-#{$num} {
                    #{$key}: #{$val};
                }
            } @else {
                .#{$num} {
                    #{$key}: #{$val};
                }
            }
        }
    }
}