// theme colors
$primary: #213F7D;
$secondary: #545F7D;
$green-100: #39CDCC; 
$background100: white;
$background200: #FBFBFB;

$pink: #DF18FF;
$purple: #5718FF;
$orange: #F55F44;
$red-100: #FF3366;

$yellow: #E9B200;
$red-200: #E4033B;
$green-200: #39CD62;

// fonts
$fontRoboto: 'Roboto', sans-serif;
$fontWorksans: 'Work Sans', sans-serif;

// spacing
$baseValue: 1px;
