// theme colors
$primary: #213F7D;
$secondary: #545F7D;
$green-100: #39CDCC; 
$background-100: white;
$background-200: #FBFBFB;

$pink-100: #DF18FF;
$purple-100: #5718FF;
$orange-100: #F55F44;
$red-100: #FF3366;

$yellow-100: #E9B200;
$red-200: #E4033B;
$green-200: #39CD62;

// fonts
$fontRoboto: 'Roboto', sans-serif;
$fontWorksans: 'Work Sans', sans-serif;

// size
$basePixelValue: 1px;
$basePercentageValue: 1%
