@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.flex-align-center {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

input:focus {
  outline: #39CDCC;
  border-color: #39CDCC;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #545F7D;
}

.login-page {
  height: 100%;
  width: 100%;
  display: flex;
}
.login-page .lendsqr-logo {
  position: absolute;
  top: 60px;
  left: 60px;
  height: 36px;
}
.login-page .image-2d {
  height: 100vh;
  width: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page .form-container {
  height: 100vh;
  width: 50%;
  box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
}
.login-page form {
  width: 450px;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}
.login-page form h1 {
  color: #213F7D;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
}
.login-page form h3 {
  margin-bottom: 50px;
  color: #545F7D;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
.login-page form input {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  color: #545F7D;
  font-size: 14px;
  line-height: 19px;
}
.login-page form .password-input {
  position: relative;
}
.login-page form .password-input span {
  position: absolute;
  right: 15px;
  line-height: 50px;
}
.login-page form span {
  color: #39CDCC;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
}
.login-page form button {
  background: #39CDCC;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  height: 48px;
  width: 100%;
  margin-top: 30px;
  border: none;
}

/* Page Header Component */
.page-header {
  width: 100%;
  height: 80px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
}
.page-header .app-logo {
  width: 280px;
  height: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.page-header .app-logo img {
  height: 30px;
}
.page-header .main-content {
  width: calc(100% - 280px);
  display: flex;
  justify-content: center;
}
.page-header .main-content .container {
  width: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
}
.page-header .search-bar {
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.page-header .search-bar input {
  height: 40px;
  flex-grow: 1;
  padding: 0 15px;
  border: 1px solid #b3b3b3;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #545F7D;
}
.page-header .search-bar span {
  height: 100%;
  width: 56px;
  background-color: #39CDCC;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.page-header .user {
  display: flex;
  align-items: center;
  color: #213F7D;
}
.page-header .user .profile {
  display: flex;
  align-items: center;
  color: #213F7D;
}
.page-header .user .profile div {
  margin-left: 10px;
  font-weight: 500;
}
.page-header .user span {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
.page-header .user .notification-bell {
  height: 26px;
  margin: 0 30px;
  cursor: pointer;
}
.page-header .user .caret-down {
  cursor: pointer;
}

/* Side Navigation Bar */
.side-bar {
  height: 100%;
  width: 280px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  overflow-y: scroll;
}
.side-bar .top-section div, .side-bar .bottom-section div {
  height: 40px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.side-bar .top-section div span, .side-bar .bottom-section div span {
  margin: 0 10px;
}
.side-bar .top-section .dropdown, .side-bar .bottom-section .dropdown {
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}
.side-bar .nav-categories {
  padding-bottom: 40px;
  border-bottom: 1px solid #b3b3b3;
}
.side-bar .nav-items-category {
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #545F7D;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.side-bar .nav-item {
  position: relative;
  height: 40px;
  width: 100%;
  padding-left: 30px;
  border-left: 3px solid transparent;
  display: flex;
  align-items: center;
  color: #213F7D;
  cursor: pointer;
}
.side-bar .nav-item img {
  margin-right: 10px;
}
.side-bar .nav-item .dim-background {
  position: absolute;
  inset: 0;
  background-color: #39CDCC;
  opacity: 0;
}
.side-bar .nav-item:hover {
  border-color: #39CDCC;
}
.side-bar .nav-item:hover .dim-background {
  opacity: 0.06;
}
.side-bar .nav-item-active {
  border-color: #39CDCC;
}
.side-bar .nav-item-active .dim-background {
  opacity: 0.06;
}
.side-bar .bottom-section {
  padding: 10px 0;
}
.side-bar .bottom-section .app-version {
  font-size: 12px;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.summary .card {
  padding: 20px 30px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.summary .card .image-container {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.summary .card .image-container img {
  position: relative;
  z-index: 9999;
}
.summary .card .image-container .background {
  position: absolute;
  inset: 0;
  opacity: 0.1;
}
.summary .card .title {
  margin: 10px 0;
  color: #545F7D;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.summary .card .value {
  color: #213F7D;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.summary .background:nth-child(1) {
  background-color: #DF18FF;
}
.summary .background:nth-child(2) {
  background-color: #5718FF;
}
.summary .background:nth-child(3) {
  background-color: #F55F44;
}
.summary .background:nth-child(4) {
  background-color: #FF3366;
}

.dashboard {
  background: #FBFBFB;
}
.dashboard .page-body {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
}
.dashboard .page-body .main-content {
  height: 100%;
  width: calc(100% - 280px);
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.dashboard .page-body .main-content .container {
  width: 90%;
  max-width: 1500px;
}
.dashboard .page-body .main-content h1 {
  margin: 40px 0;
  color: #213F7D;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}/*# sourceMappingURL=index.css.map */