@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'variables';
@import 'components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: $fontWorksans;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

input:focus {
    outline: $green;
    border-color: $green-100;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: $secondary;
}

// Login page

.login-page {
    height: 100%;
    width: 100%;
    display: flex;

    .lendsqr-logo {
        position: absolute;
        top: 60px;
        left: 60px;
        height: 36px;
    }

    .image-2d {
        height: 100vh;
        width: 50%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        height: 100vh;
        width: 50%;
        box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
        display: flex;
        align-items: center;
    }
  
    form {
        width: 450px;
        display: flex;
        flex-direction: column;
        padding-left: 100px;

        h1 {
            color: $primary;
            font-size: 40px;
            font-weight: 700;
            line-height: 55px;
        }
        
        h3 {
            margin-bottom: 50px;
            color: $secondary;
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
        }
    
        input {
            height: 50px;
            width: 100%;
            padding: 0 15px;
            margin-bottom: 20px;
            border: 2px solid rgba(84, 95, 125, 0.15);
            border-radius: 5px;
            color: $secondary;
            font-size: 14px;
            line-height: 19px;
        }
        
        .password-input {
            position: relative;

            span {
                position: absolute;
                right: 15px;
                line-height: 50px;
            }
        }
        
        span {
            color: $green-100;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            cursor: pointer;
        }
        
        button {
            @include buttons($background: $green-100, $color: white);
            height: 48px;
            width: 100%;
            margin-top: 30px;
            border: none;
        }

    }
}

/* Page Header Component */

.page-header {
    width: 100%;
    height: 80px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
  
    .app-logo {
        width: 280px;
        height: 100%;
        padding-left: 30px;
        display: flex;
        align-items: center;

        img {
            height: 30px;
        }
    }
    
    .main-content {
        width: calc(100% - 280px);
        display: flex;
        justify-content: center;

        .container {
            width: 90%;
            max-width: 1500px;
            display: flex;
            justify-content: space-between;
        }
    }
    
    .search-bar {
        height: 40px;
        width: 400px;
        display: flex;
        align-items: center;
        overflow: hidden;

        input {
            height: 40px;
            flex-grow: 1;
            padding: 0 15px;
            border: 1px solid #b3b3b3;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            color: $secondary;
        }

        span {
            height: 100%;
            width: 56px;
            background-color: $green-100;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
    }
    
    .user {
        display: flex;
        align-items: center;
        color: $primary;

        .profile {
            display: flex;
            align-items: center;
            color: $primary;
            
            div {
                margin-left: 10px;
                font-weight: 500;
            }
        }

        span {
            font-family: $fontRoboto;
            text-decoration: underline;
            cursor: pointer;
        }

        .notification-bell {
            height: 26px;
            margin: 0 30px;
            cursor: pointer;
        }

        .caret-down {
            cursor: pointer;
        }
    }
}

/* Side Navigation Bar */

.side-bar {
    height: 100%;
    width: 280px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    overflow-y: scroll;

    .top-section, .bottom-section {
        div {
            height: 40px;
            padding-left: 30px;
            display: flex;
            align-items: center;

            span {
                margin: 0 10px;
            }
        }

        .dropdown {
            margin-top: 20px;
            margin-bottom: 15px;
            cursor: pointer;
        }
    }
    
    .nav-categories {
        padding-bottom: 40px;
        border-bottom: 1px solid #b3b3b3;
    }
    
    .nav-items-category {
        padding-left: 30px;
        margin-top: 20px;
        margin-bottom: 5px;
        color: $secondary;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
    }

    .nav-item {
        position: relative;
        height: 40px;
        width: 100%;
        padding-left: 30px;
        border-left: 3px solid transparent;
        display: flex;
        align-items: center;
        color: $primary;
        cursor: pointer;

        img {
            margin-right: 10px;
        }

        .dim-background {
            position: absolute;
            inset: 0;
            background-color: $green-100;
            opacity: 0;
        }
    }

    .nav-item:hover {
        border-color: $green-100;

        .dim-background {
            opacity: 0.06;
        }
    }

    .nav-item-active {
        border-color: $green-100;

        .dim-background {
            opacity: 0.06;
        }
    }

    .bottom-section {
        padding: 10px 0;

        .app-version {
            font-size: 12px;
        }
    }
}

// Summary component

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;

    .card {
        padding: 20px 30px;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;

        .image-container {
            position: relative;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                position: relative;
                z-index: 9999;
            }

            .background {
                position: absolute;
                inset: 0;
                opacity: 0.1;
            }
        }

        .title {
            margin: 10px 0;
            color: $secondary;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
        }

        .value {
            color: $primary;
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
        }
    }

    .background {
        &:nth-child(1) {
          background-color: $pink-100;
        }
        &:nth-child(2) {
          background-color: $purple-100;
        }
        &:nth-child(3) {
          background-color: $orange-100;
        }
        &:nth-child(4) {
          background-color: $red-100;
        }
    }
}

// Dashboard page
.dashboard {
    background: $background;

    .page-body {
        height: calc(100vh - 80px);
        width: 100%;
        display: flex;

        .main-content {
            height: 100%;
            width: calc(100% - 280px);
            display: flex;
            justify-content: center;
            overflow-y: auto;

            .container {
                width: 90%;
                max-width: 1500px;
            }

            h1 {
                margin: 40px 0;
                color: $primary;
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
}