@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'variables';
@import 'utilities';
@import 'colors';
@import 'components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: $fontWorksans;
    transition: all 0.3s ease;
    overflow: hidden;
}

.login-page {
    display: flex;

    .lendsqr-logo {
        height: 36px;
    }

    .images {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
        display: flex;
        align-items: center;
    }
  
    form {
        width: 450px;
        display: flex;
        flex-direction: column;
        padding-left: 100px;

        h1 {
            color: $primary;
            font-size: 40px;
            font-weight: 700;
            line-height: 55px;
        }
        
        h3 {
            margin-bottom: 50px;
            color: $secondary;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
        }
    
        input {
            height: 50px;
            width: 100%;
            padding: 0 15px;
            margin-bottom: 20px;
            outline: none;
            border: 2px solid rgba(84, 95, 125, 0.15);
            border-radius: 5px;
            color: $secondary;
            font-size: 14px;
            line-height: 20px;
        }

        input:focus {
            border-color: $green-100;
        }
        
        .password-input {
            position: relative;

            span {
                position: absolute;
                right: 15px;
                line-height: 50px;
            }
        }
        
        span {
            color: $green-100;
            font-size: 12px;
            font-weight: 600;
            line-height: 16.39px;
            cursor: pointer;
        }
        
        button {
            @include buttons($background: $green-100, $color: white);
            height: 48px;
            width: 100%;
            margin-top: 30px;
            border: none;
        }

    }
}