@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  background-color: rgb(216, 243, 255);
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  inset: 0;
  overflow: hidden;
}